/* Reset all pages */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* font-size for all pages */

html {
  font-size: 62.5%;
}

body {
  font-family: "rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

.gallery-section {
  background-color: #ebebeb;
  position: relative;
}

.go-back-btn:link,
.go-back-btn:visited {
  display: inline-block;
  background-color: #651a1a;
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  transition: all 0.3s;
  position: absolute;
  top: 1rem;
  left: 2rem;
}

.go-back-btn:hover,
.go-back-btn:active {
  background-color: #b52626;
}

.gallery-header {
  text-align: center;
  padding-top: 5.2rem;
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.05;
  color: #333;
  letter-spacing: -0.5px;
}

.gallery {
  display: grid;
  max-width: 130rem;
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 5.2rem 0;
}

.gallery-items {
  overflow: hidden;
}
.gallery-items img {
  display: block;
  width: 100%;

  transition: all 0.4s;
}

.gallery-items img:hover {
  transform: scale(1.1);
}
